runs/needle_convlstm/
runs/anatomy_convlstm/


UGRA/data_raw/
UGRA/data_raw/images/


data_raw/images/
data_raw/annotations.xml

data_processed/sanity_overlays/
data_processed/meta/
data_processed/masks/needle/
data_processed/masks/anatomy/

__pycache__/
*.pyc
